ENGINE_REST_BASE_URL=http://localhost:8080/engine-rest
# Enables Basic Auth on the engine
# OPERATON_REST_BASIC_AUTH_ENABLED=true
# ENGINE_REST_AUTHORIZATION=Basic YWRtaW46YWRtaW4=
# Enables OAuth2 on the engine
# OPERATON_REST_OAUTH2_ENABLED=true
# OIDC_ISSUER_URI=http://localhost:8081/realms/operaton
# Enables OAuth2 on the client
# OAUTH2_TOKEN_URL=http://localhost:8081/realms/operaton/protocol/openid-connect/token
# OAUTH2_CLIENT_ID=operaton
# OAUTH2_CLIENT_SECRET=UPgl7SnnJpXf2b6oScHZAt68SfIJZtRc